# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#monacofile
/public/monaco-editor
/public/atcoder-tasktest

# dependencies
/node_modules
/.pnp
.pnp.js
.eslintcache
# testing
/coverage
apidocs
# production
/build
/dist
./test
/idea
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
private_keys/**

npm-debug.log*
yarn-debug.log*
yarn-error.log*
electron/data/test/*
electron/data/scraping/run_test.ts
archive/memo

# licence check
.licenses

# Test用コンパイルファイル
archive/test-data/abc164_b/b.out