html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}
.react-mosaic-dashboard {
  margin: 0;
  height: 100%;
  width: 100%;
  /* padding-top: 35px; */
}
.table-window {
  height: 100%;
  /* padding: 20px;
  text-align: center; */
}
.toolbar {
  background: #83919c;
  display: flex;
  position: fixed;
  width: 100%;
}
